<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>出退勤</title>
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <header>
    <button onclick="location.href='index.ejs'">ホーム</button>
  </header>
  <body>
    <div class="apply_contents">
      <p>名前</p>
      <input type="text">
      <p>申請内容</p>
      <textarea></textarea>
    </div>
    <div>
      <input type="submit">
    </div>
  </body>
</html>  
